.glyphicon { margin-right:5px; }
body {
        background:"website-background.png";
        font-size: '13px';
        font-family: 'Open Sans', sans-serif;
   
        font-size: '13px';
        font-family: 'Open Sans', sans-serif;
      
      
    background-size:7680px 2160px;
    image-rendering: optimizeSpeed;
        image-rendering: -moz-crisp-edges;
        image-rendering: -o-crisp-edges;
        image-rendering: -webkit-optimize-contrast;
        image-rendering: pixelated;
        image-rendering: optimize-contrast;
        -ms-interpolation-mode: nearest-neighbor;
        -webkit-animation:move 300s linear infinite;
        -moz-animation:move 300s linear infinite;
        -ms-animation:move 300s linear infinite;
        animation:move 300s linear infinite;
        z-index: -2;*/
  }
  @-webkit-keyframes move {
 0% {
   background-position: 0 0;
 }
 100% {
     background-position: 7680px 0px;
 }
}@
moz-keyframes move{
    0% {background-position: 0 0;}
    100%{background-position:7680px 0px;}
}

@-ms-keyframes move{
    0%{background-position:0 0; }
    100%{background-position:7680px 0px; }
}
@keyframes 
move{
 0% {
   background-position: 0 0;
 }
 100% {
     background-position: 7680px 0px;
 }
}

@-webkit-keyframes font{
    0%{font-size:0; }
    100%{font-size:100%; }
}
@-moz-keyframes font{
    0%{font-size:0; }
    100%{font-size:100%; }
}
@-ms-keyframes font{
    0%{font-size:0; }
    100%{font-size:100%; }
}
@keyframes font{
    0%{font-size:0; }
     100%{font-size:100%; }
}
.category{
  position:relative;
  top:-5px;
  left:10px;
  color:#20e3b2;
  font-weight:200;
  margin-bottom:-20px;
}
.well{  
  background:transparent;
  border-style:none;
}
.btn{
  border-style:none;
  
}
.col-md-3:hover{
  box-shadow: 1px 5px 25px #ccc;

}
.thumbnail
{
    margin-bottom: 0px;
    padding: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    
}
.inner{
  margin-left:0px;
}
.item{
width:250px;
padding:0;
margin-top:5px;
margin:15px;
box-shadow: 1px 5px 15px #CCC;
}

.item.list-group-item
{
    float: none;
    width: 100%;
    background-color: #fff;
    margin-bottom: 10px; 
}
.item.list-group-item:nth-of-type(odd):hover,.item.list-group-item:hover
{ 
    box-shadow: 0px 1px 25px #ccc;
}

.item.list-group-item .list-group-image
{
    margin-right:5px;
    
}
.item.list-group-item .thumbnail
{   
    margin-bottom: 0px;
  
}
.item.list-group-item .caption
{
    padding: 9px 9px 0px 9px; 

}


.item.list-group-item:before, .item.list-group-item:after
{
    display: table;
    content: " ";
}

.item.list-group-item img
{
   float: left;
}
.item.list-group-item:after
{
    clear: both;
}
.btn-success,.btn-details{
  margin-top:40px;
}
.btn-details{
  background:transparent;
  border-style:solid;
  border-color:lightgrey;
  border-radius:0%;
  width:125px;
  top:11px;
  left:5px;
  color:black;
}
.btn-details:hover{
  background:lightgrey;
  color:white;
}
.lead{
  position:absolute;
  font-weight:700;
  font-size:18px;
}

.btn-success{
  overflow:hidden;
  border-radius:0%;
  border-style:none;
  width:125px;
  left:5px;
  top:11px;
  height:33px;
  background: linear-gradient(to right, #0cebeb, #20e3b2, #29ffc6);
}

@keyframes scalewidth {
  0% {
width: 0%;
}
  100%{
width : 100%;
}
}