<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Python-Smartly</title>

  <link rel="stylesheet" href="../css/python_style.css">
</head>
<style >
  <body background="../img/website-background.png">
</style>
<body onload="certify()">
<div class='progress'>
  <div class='progress_inner'>
    <div class='progress_inner__step'>
      <label for='step-1'>Introduction</label>
    </div>
    <div class='progress_inner__step'>
      <label for='step-2'>Variables and Operators</label>
    </div>
    <div class='progress_inner__step'>
      <label for='step-3'>String Manipulation</label>
    </div>
    <div class='progress_inner__step'>
      <label for='step-4'>Control Flow</label>
    </div>
    <div class='progress_inner__step'>
      <label for='step-5'>Certificate!</label>
    </div>
    <input checked='checked' id='step-1' name='step' type='radio'>
    <input id='step-2' name='step' type='radio'>
    <input id='step-3' name='step' type='radio'>
    <input id='step-4' name='step' type='radio'>
    <input id='step-5' name='step' type='radio'>
    <div class='progress_inner__bar'></div>
    <div class='progress_inner__bar--set'></div>
    <div class='progress_inner__tabs'>
      <div class='tab tab-0'>
        <h1>Introduction</h1>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/6eifGGyzjr0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      <div class='tab tab-1'>
        <h1>Variables and Operators</h1>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/Fa60zbaxiGI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      <div class='tab tab-2'>
        <h1>String Manipulation</h1>

        <iframe width="560" height="315" src="https://www.youtube.com/embed/CwjUX9-LS40" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      <div class='tab tab-3'>
        <h1>Control Flow</h1>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/iX1stu_MG-w" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      <div class='tab tab-4'>
        <h1>Certificate</h1>
        <div class="page" size="A4" layout="portrait">
          <div class="margin">
            <div class="container">
              <!--Column 1-->
              <div class="box a">
                <div class="cert-to">
                  <h3>Certification To:</h3>
                </div>
                <div class="cert-name">
                  <h1 id="fullname"><u>Name</u></h1>
                </div>
                <div class="cert-p">
                  <p class="w230">Successfully Completed The Training &amp; Exam Qualifications And Is Globally Recognized As:</p>
                </div>
                <div class="cert-type">
                  <h2>Smartly Certified Developer</h2>
                </div>
                <div class="cert-image"><img src="../img/certificate-hi.PNG" alt="SMARTLY MEDAL" height="100" width="100"></div>
                <div class="cert-legal">
                  <p class="legal-copy"><b>© 2016 - 2019, SMARTLY all rights reserved.</b> This documentation and its intellectual property belongs to SMARTLY(Meherdeep Thakur). Any unauthorized use, reproduction, preparation of other works based on this document, dissemination or representation
                    of software presented in this document without the express written permission of SMARTLY is strictly prohibited. SMARTLY, SMARTLY Foundation and the SMRTLY branding are owned by SMARTLY. Other brands, services and business names belong to their
                    respective companies.</p>
                </div>
              </div>
              <!--Column 2-->
              <div class="box b">
                <div class="align-center">
                  <div class="cert-logo">
                    <p ><img src="../img/logo.PNG" alt="SMARTLY logo"><br><span class="cert-slogan"><b>SMARTLY: Your Portal to learn Smartly</span><b></p>
                  </div>

                  <!-- Signature 1 -->
                  <div class="cert-signature signature-1"><img src="https://www.issabel.com/wp-content/uploads/2018/07/signature-gv-cpo.svg" alt="Signature 1">
                    <p><b>Meherdeep Thakur</b><br> <span class="position">CEO</span></p>
                  </div>
                </div>
                <!-- Certificate Data -->
                <div class="certificate-data">
                  <!-- Dates -->
                  <div class="certificate-dates">
                    <div>
                      <p><span class="label">Certification Date:</span><br><span class="date">March 22, 2019</span></p>
                    </div>
                  </div>
                  <!-- QR -->
                  <div class="certificate-qr">
                    <div class="cert-qr"><img src="../img/frame.png" alt="QR Code"></div>
                    <div>
                      <p id="uid"><b>ICA031804A008</b></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
      <div class='progress_inner__status'>
        <div class='box_base'></div>
        <div class='box_lid'></div>
        <div class='box_ribbon'></div>
        <div class='box_bow'>
          <div class='box_bow__left'></div>
          <div class='box_bow__right'></div>
        </div>
        <div class='box_item'></div>
        <div class='box_tag'></div>
        <div class='box_string'></div>
      </div>
    </div>
  </div>


  <script  src="../js/python_index.js"></script>
</body>
</html>